<nav class="movies-nav">
  <p>{{ movie.attributes.title }}</p>
</nav>

<div class="movie-space">
  <div class="movie-info">
    <article class="movie">
    <div class="intro">
      {{{ markdown movie.attributes.intro }}}
    </div>
    {{#if movie.attributes.image }}
    <img src="{{ movie.attributes.image.url }}">
    {{/if }}
  </div>
</div>

<script src="https://kit.fontawesome.com/955d716fd8.js" crossorigin="anonymous"></script>